body {
    text-align:center;
    background:#ccc4c4;
}
.growl-notice {
    display:none;
    font-family:Helvetica,Verdana,sans-serif;
    width: 300px;
    height: 65px;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: .97;
    font-size: 14px;
    color: #fff;
    background: #BF0025;
    position: fixed;
    right: 10px;
    bottom: 34px;
    line-height:60px;
}
#activator {
    text-decoration:none;
    font-family:Courier New, sans-serif;
    font-size:48px;
    font-weight:bold;
    color:#606060;
    background:#272727;
    padding:10px 20px;
    -webkit-border-radius:10px;
    border-radius:10px;
    margin-top:40px;
    display:inline-block;
}
